.chatpage {
  position: relative;
  min-width: 340px;
  .chatpageDiv {
    background-color: #FCFCFC;
    padding: 2px 0px 2px 0px;
    max-height: min-content;
    height : 100vh;
  }

  .chatListDiv{
      background-color: #ffffff;
      padding: 2px 0px 2px 0px;
      -webkit-box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
      box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
      max-height: min-content;
      height : 100vh;
      // z-index: 10;
      // border-right: 1px solid #77828d;
  }
  .chatpageHeader {
    background-color: #FCFCFC;
    padding: 2px 12px;
    width : 80px;
    -webkit-box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 16px -16px rgba(0,0,0,0.75);
    height : 100vh;
  }
  .searchField{
    background-color: #e0e4e8;
  }
  .chatpageView {
    min-height: 500px;
  }
  .chatListView {
    .chatListHeader {
      color: #6a9bf0;
      border-radius: 20px;
      .btnCreateGroup {
        position: absolute;
        border-radius: 20px;
        top: 4px;
        right: 7px;
      }
    }
    .searchChat {
      margin-top: 20px;
    }
    .chatList {
      overflow-y: scroll;
    }
  }
  @media (max-width: 768px){
    .chatpageDiv{
      display: none;
    }
  }
  @media (min-width: 768px) {
    .chatListView {
      width: 44%;
    }
  }

  @media (min-width: 950px) {
    .chatListView {
      width: 36%;
    }
  }
  .messagesView {
    .messagesHeader {
      background-color: #ffffff;
      -webkit-box-shadow:  0px 5px 5px 0px  rgba(0,0,0,0.13);
      -moz-box-shadow:  0px 5px 5px 0px  rgba(0,0,0,0.13);
      box-shadow:  0px 5px 5px 0px  rgba(0,0,0,0.13);
      margin-bottom: 2px;
    }
    .messagesBody {
      height: 100%;
      background-attachment: fixed;
      background-color:#cadeef;
      .messages {
        position: absolute;
        width: calc(100% - 17px);
        height: calc(100% - 95px);
        .msgArea {
          position: absolute;
          @include setPositions(0px, 0px, 0px, 0px);
          width: 98%;
          margin: auto;
          @include scrollbars(4px);
        }
        .msgListBottom {
          &::before {
            content: "";
          }
        }
      }
      .typingIndicator {
        position: absolute;
        z-index: 2;
        & > span {
          margin-top: 2px;
          color: #a9c7f5;
          font-size: 16px;
          font-weight: 600;
          font-family: "Trebuchet MS";
        }
      }
      .displayTyping {
        animation: slideUp 0.3s 1;
        bottom: 55px;
      }
      .hideTyping {
        animation: slideDown 0.4s 1;
        bottom: 10px;
      }
      .msgInputDiv {
        @include setPositions($bottom: 10px, $left: 10px, $right: 10px);
        z-index: 5;
        .attachFile {
          background-color: #fcfcfc;
          border-radius: 7px 0px 0px 7px;
        }
        .emojiPicker {
          bottom: calc(100% + 17px);
        }
        .emoji-picker-react {
          box-shadow: 5px -5px 20px #111, 5px 5px 20px #111;
          border-radius: 10px;
          border: none;
          caret-color: #fff;
          input.emoji-search {
            width: 95%;
            margin: 7px 0px 0px 0px;
            background-color: #555;
            padding-left: 15px;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            color: #fff;
            &::placeholder {
              color: #bbb;
            }
          }
          & div {
            background-color: #333;
          }
          .skin-tones-list * {
            margin: 9px 0px 0px 5px;
            background-color: auto;
          }
          .emoji-categories {
            background-color: #aaa;
          }
          .emoji-group::before {
            font-size: 17px;
            background-color: #333;
            color: #ddd;
          }
        }
        .msgInput {
          background-color: #fcfcfc;
          font-size: 18px;
          max-height: 100px;
          cursor: text;
          caret-color: #77828d;
          color : #81909e;
          line-height: 26px;
          padding: 12px 0px;
          outline: none;
          overflow-x: hidden;
          overflow-y: auto;
          word-break: break-all;
          @include scrollbars(5px);
          &:empty::before {
            content: "Enter a Message...";
            color: #77828d;
          }
        }
        .addCaption:empty::before {
          content: "Add a Caption...";
          color: #77828d;
        }
        .sendButton {
          border-radius: 0px 7px 7px 0px;
        }
      }
    }
  }
}
