.msgRow {
  .msgBox {
    max-width: 75%;
    position: relative;
  }
  @media (min-width: 576px) {
    .msgBox {
      max-width: 70%;
    }
  }
  @media (min-width: 900px) {
    .msgBox {
      max-width: 60%;
    }
  }
  .yourMsg {
    cursor: pointer;
    background-color: #08a4e1;
    border-radius: 25px 0px 25px 25px;
    -moz-border-radius: 25px 0px 25px 25px;
    -webkit-border-radius: 25px 0px 25px 25px;
    border: 0px solid;
    .msgContent{
      color : #fcfcfc;
    }
    .msgTime{
      color : #333131;
    }
  }
  .receiversMsg {
    background-color: #ffffff;
    border-radius: 0px 25px 25px 25px;
    -moz-border-radius: 0px 25px 25px 25px;
    -webkit-border-radius: 0px 25px 25px 25px;
    border: 0px solid;
    .msgTime{
      margin-right: 4px;
    }
  }
  .msgSender {
    width: fit-content;
    margin: -4px 5px 4px 0px;
    font-size: 16px;
    color: #db84f5;
    &:hover {
      color: #98affa;
    }
    &:active {
      color: #25d1f0;
    }
  }
  .msgOptionsIcon {
    cursor: pointer;
    padding: 0px 2px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    z-index: 2;
  }
  .senderAvatar {
    @include getImgDimensions(0.31);
    background-color: transparent;
    margin: 7px -3px 0px 2px;
  }
  .msgContent {
    cursor: auto;
    user-select: text;
    & > span {
      overflow-x: auto;
      @include scrollbars(2px);
    }
    font-size: 15px;
    margin-top: -4px;
    color : #414c60;
  }
  .msgTime {
    min-width: 90px;
    margin: 5px -2px -5px auto;
    font-size: 14px;
    color: #747474;
    .sendStatusIcon {
      color: rgb(197, 240, 186);
      margin: 3px;
    }
  }
}
.msgDate {
  font-size: 15px;
  width: max-content;
  color: #747474;
  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  } 
  
  h2 span { 
    background:#fff; 
    padding:0 10px; 
  }
}
