$chatpageBgColor: #cadeef;
$selectedChatBgColor:#e0e4e8;
$baseFontSize: 19px;
$baseImgDimension: 100px;
$fullDimension: 100%;
$appFontUrl: "https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap";
$chatBgUrl : "https://res.cloudinary.com/dpjkh7jo2/image/upload/v1698665512/mlyjmbg0xcylquuaiavk.jpg";