@import "variables";
@import "mixins";
@import "App";
@import "HomePage";
@import "LoginPage";
@import "Loading";
@import "ChatsPage";
@import "UserListItem";
@import "ChatListItem";
@import "groupMemberItem";
@import "LoadingListItem";
@import "LoadingMsgs";
@import "Message";
@import "MsgAttachment";
@import "SearchInput";
@import url($appFontUrl);

body {
  background: #ffffff;
  overflow: hidden;
  // background-image: url($appBgUrl);
  & * {
    font-family: "Trebuchet MS";
  }
  .pointer {
    cursor: pointer;
  }
  .notAllowed {
    cursor: not-allowed;
  }
  img {
    display: inline-block;
    object-fit: cover;
  }
  & * {
    @include scrollbars(8px);
  }
  @include scrollbars(6px);
}
