@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap");
@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

header {
  padding: 6px 15px;
}

.notifBadge {
  z-index: 5;
  font-family: cambria;
  background-color: #22a96a;
}

.notifCountChange {
  animation: growAndShrink 0.3s 1;
}

.btnArrowIcons {
  color: white;
  font-size: 22px;
}

.addGroupMembers {
  height: 65vh;
}
.addGroupMembers > * {
  width: clamp(250px, 70vw, 320px);
}
.addGroupMembers .userChip {
  height: 40px;
  margin: 2px;
}
.addGroupMembers .userChip .userChipAvatar {
  width: 30px;
  height: 30px;
}

.groupDialog > * {
  width: clamp(250px, 70vw, 320px);
}

.listItemAvatar {
  display: inline-block;
  transition: box-shadow 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
}
.listItemAvatar:hover {
  box-shadow: 4px 4px 4px #474747, -4px -4px 4px #474747, -4px 4px 4px #474747, 4px -4px 4px #474747;
}

.app__inputfield {
  font-size: 19px;
}

.required {
  font-family: "Times New Roman", Times, serif;
  color: #f17620;
}

.app__btnToggle {
  font-size: 19px;
  transition: all 0.2s;
}

.dialogField {
  width: clamp(250px, 70vw, 320px);
}
.dialogField img {
  width: 250px;
  height: 250px;
}

.newGroup {
  width: clamp(230px, 55vw, 300px);
}
.newGroup img {
  width: 190px;
  height: 190px;
}

.selectPicIcon {
  bottom: 0%;
  right: calc(50% - 50px);
}

.app__form .app__formfield img {
  width: 100px;
  height: 100px;
}
.app__form .app__formlabel {
  font-size: 19px;
}
.app__form .app__btnReset {
  width: 30%;
}

.homepage > section {
  width: clamp(310px, 75vw, 700px);
  border-radius: 20px;
  color: #414141;
}
.homepage .homepage__header {
  font-size: 30px;
  color: rgb(235, 217, 55);
  font-weight: 700;
}

@keyframes slideUp {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 55px;
  }
}
@keyframes slideDown {
  0% {
    bottom: 55px;
  }
  100% {
    bottom: 10px;
  }
}
.chatpage {
  min-width: 340px;
}
.chatpage .chatpageDiv {
  background-color: #272727;
  border-radius: 10px;
  padding: 2px 12px;
  margin-top: 50px;
}
.chatpage .chatpageHeader {
  background-color: #272727;
  border-radius: 10px;
  padding: 2px 12px;
  margin-top: 54px;
  width: 80px;
}
.chatpage .searchField {
  background-color: #343434;
}
.chatpage .chatpageView {
  min-height: 500px;
  height: calc(100vh - 90px);
}
.chatpage .chatListView .chatListHeader {
  color: #6a9bf0;
  border-radius: 20px;
}
.chatpage .chatListView .chatListHeader .btnCreateGroup {
  position: absolute;
  border-radius: 20px;
  top: 4px;
  right: 7px;
}
.chatpage .chatListView .searchChat {
  margin-top: 20px;
}
.chatpage .chatListView .chatList {
  height: 100%;
  border-radius: 15px;
}
@media (min-width: 750px) {
  .chatpage .chatListView {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .chatpage .chatListView {
    width: 44%;
  }
}
@media (min-width: 1100px) {
  .chatpage .chatListView {
    width: 36%;
  }
}
.chatpage .messagesView .messagesHeader {
  border-radius: 10px;
  margin-bottom: 5px;
}
.chatpage .messagesView .messagesBody {
  height: 100%;
  background-attachment: fixed;
  background-image: url("https://res.cloudinary.com/dpjkh7jo2/image/upload/v1698665512/mlyjmbg0xcylquuaiavk.jpg");
  border-radius: 15px;
}
.chatpage .messagesView .messagesBody .messages {
  position: absolute;
  width: calc(100% - 17px);
  height: calc(100% - 95px);
}
.chatpage .messagesView .messagesBody .messages .msgArea {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 98%;
  margin: auto;
  scrollbar-color: #686868 transparent;
}
.chatpage .messagesView .messagesBody .messages .msgArea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.chatpage .messagesView .messagesBody .messages .msgArea::-webkit-scrollbar-thumb {
  background: #686868;
}
.chatpage .messagesView .messagesBody .messages .msgArea::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.chatpage .messagesView .messagesBody .messages .msgArea::-webkit-scrollbar-track {
  background: transparent;
}
.chatpage .messagesView .messagesBody .messages .msgListBottom::before {
  content: "";
}
.chatpage .messagesView .messagesBody .typingIndicator {
  position: absolute;
  z-index: 2;
}
.chatpage .messagesView .messagesBody .typingIndicator > span {
  margin-top: 2px;
  color: #a9c7f5;
  font-size: 16px;
  font-weight: 600;
  font-family: "Trebuchet MS";
}
.chatpage .messagesView .messagesBody .displayTyping {
  animation: slideUp 0.3s 1;
  bottom: 55px;
}
.chatpage .messagesView .messagesBody .hideTyping {
  animation: slideDown 0.4s 1;
  bottom: 10px;
}
.chatpage .messagesView .messagesBody .msgInputDiv {
  top: auto;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 5;
}
.chatpage .messagesView .messagesBody .msgInputDiv .attachFile {
  border-radius: 7px 0px 0px 7px;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emojiPicker {
  bottom: calc(100% + 17px);
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react {
  box-shadow: 5px -5px 20px #111, 5px 5px 20px #111;
  border-radius: 10px;
  border: none;
  caret-color: #fff;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react input.emoji-search {
  width: 95%;
  margin: 7px 0px 0px 0px;
  background-color: #555;
  padding-left: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react input.emoji-search::-moz-placeholder {
  color: #bbb;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react input.emoji-search::placeholder {
  color: #bbb;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react div {
  background-color: #333;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react .skin-tones-list * {
  margin: 9px 0px 0px 5px;
  background-color: auto;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react .emoji-categories {
  background-color: #aaa;
}
.chatpage .messagesView .messagesBody .msgInputDiv .emoji-picker-react .emoji-group::before {
  font-size: 17px;
  background-color: #333;
  color: #ddd;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput {
  font-size: 18px;
  max-height: 100px;
  cursor: text;
  caret-color: #6a9bf0;
  line-height: 26px;
  padding: 12px 0px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-all;
  scrollbar-color: #686868 transparent;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput::-webkit-scrollbar-thumb {
  background: #686868;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput::-webkit-scrollbar-track {
  background: transparent;
}
.chatpage .messagesView .messagesBody .msgInputDiv .msgInput:empty::before {
  content: "Enter a Message...";
  color: grey;
}
.chatpage .messagesView .messagesBody .msgInputDiv .addCaption:empty::before {
  content: "Add a Caption...";
  color: grey;
}
.chatpage .messagesView .messagesBody .msgInputDiv .sendButton {
  border-radius: 0px 7px 7px 0px;
}

.userListItem {
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #101010;
}
.userListItem:hover {
  background-color: #1d1d1d;
}
.userListItem:active {
  background-color: #30002d;
}
.userListItem .userListAvatar {
  margin-left: -5px;
  width: 42px;
  height: 42px;
}
.userListItem .userListData .userListName {
  margin-top: 7px;
  margin-bottom: -5px;
}
.userListItem .userListData .userListEmail {
  margin-bottom: 10px;
}

.chatListItem {
  position: relative;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 1px 13px;
  background-color: #404040;
}
.chatListItem:hover {
  background-color: #444444;
}
.chatListItem:active {
  background-color: #404040;
}
.chatListItem .chatListAvatar {
  width: 49.4px;
  height: 49.4px;
}
.chatListItem .chatListData {
  margin: 5px 0px;
}
.chatListItem .chatListData .chatListName {
  margin: 6px 0px 3px 0px;
  line-height: 23px;
  width: calc(73% - 30px);
  word-wrap: break-word;
}
.chatListItem .chatListData .lastMsgDate {
  position: absolute;
  color: #b9b9b9;
  top: 12px;
  bottom: auto;
  left: auto;
  right: 15px;
}
.chatListItem .chatListData .chatListLastMessage {
  margin: 2px 8px 6px 0px;
  line-height: 20px;
}
.chatListItem .chatListData .chatListLastMessage .fileIcon {
  color: #9c9c9c;
  font-size: 20px;
  margin: -2px 0px 0px 3px;
}

.isSelected {
  background-color: #404040;
}
.isSelected:hover {
  background-color: #404040;
}

.groupMemberItem {
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #101010;
}
.groupMemberItem:hover {
  background-color: #1d1d1d;
}
.groupMemberItem:active {
  background-color: #222;
}
.groupMemberItem .groupMemberAvatar {
  margin-left: -5px;
  width: 42px;
  height: 42px;
}
.groupMemberItem .adminBadge {
  top: 0px;
  right: 0px;
  z-index: 2;
}
.groupMemberItem .memberSettingsIcon {
  padding: 2px 3px;
  bottom: 3px;
  right: 4px;
  transition: background-color 0.2s;
}
.groupMemberItem .memberSettingsIcon:hover {
  background-color: rgba(170, 170, 170, 0.2509803922);
}
.groupMemberItem .groupMemberData .groupMemberName {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: -2px;
}
.groupMemberItem .groupMemberData .groupMemberEmail {
  font-size: 15px;
  margin-bottom: 10px;
}

.loadingListItem {
  position: relative;
  height: 70px;
  margin: auto;
}
.loadingListItem > * {
  position: absolute;
  border-radius: 10px;
}
.loadingListItem .loadingDp {
  top: 10px;
  left: 15px;
}
.loadingListItem .loadingTitle {
  height: 13px;
  top: 20px;
  left: 80px;
}
.loadingListItem .loadingDesc {
  height: 10px;
  top: 40px;
  left: 80px;
}

.loadingMsg {
  position: relative;
}
.loadingMsg > * {
  border-radius: 7px;
}
.loadingMsg .loadingSender {
  height: 20px;
}
.loadingMsg .loadingContent {
  height: 30px;
}

.msgRow .msgBox {
  max-width: 75%;
  position: relative;
}
@media (min-width: 576px) {
  .msgRow .msgBox {
    max-width: 70%;
  }
}
@media (min-width: 900px) {
  .msgRow .msgBox {
    max-width: 60%;
  }
}
.msgRow .yourMsg {
  cursor: pointer;
  background-color: #006652;
}
.msgRow .receiversMsg {
  background-color: #2e2e2e;
}
.msgRow .msgSender {
  width: -moz-fit-content;
  width: fit-content;
  margin: -4px 5px 4px 0px;
  font-size: 16px;
  color: #db84f5;
}
.msgRow .msgSender:hover {
  color: #98affa;
}
.msgRow .msgSender:active {
  color: #25d1f0;
}
.msgRow .msgOptionsIcon {
  cursor: pointer;
  padding: 0px 2px;
  opacity: 0;
  z-index: 2;
}
.msgRow .msgOptionsIcon:hover {
  opacity: 1;
}
.msgRow .senderAvatar {
  width: 31px;
  height: 31px;
  background-color: transparent;
  margin: 7px -3px 0px 2px;
}
.msgRow .msgContent {
  cursor: auto;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  font-size: 18px;
  margin-top: -4px;
}
.msgRow .msgContent > span {
  overflow-x: auto;
  scrollbar-color: #686868 transparent;
}
.msgRow .msgContent > span::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.msgRow .msgContent > span::-webkit-scrollbar-thumb {
  background: #686868;
}
.msgRow .msgContent > span::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.msgRow .msgContent > span::-webkit-scrollbar-track {
  background: transparent;
}
.msgRow .msgTime {
  min-width: 90px;
  margin: 5px -2px -5px auto;
  font-size: 14px;
  color: #c7c7c7;
}
.msgRow .msgTime .sendStatusIcon {
  color:rgb(255, 255, 255);
  margin: 3px;
}

.msgDate {
  font-size: 15px;
  width: -moz-max-content;
  width: max-content;
  color: #f5f5f5;
  background-color: #5e5a69;
}

.msgImageWrapper .msgImageFile {
  cursor: pointer;
  width: clamp(100px, 100%, 500px);
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
  border-radius: 5px;
}

.msgFile {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 8px;
}
.msgFile > span {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.msgFile > div {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}
.msgFile .downloadIcon {
  cursor: pointer;
  border-radius: 50%;
  font-size: 13px;
  color: lightblue;
  padding: 7px 3px;
  margin-left: 2px;
  transition: background-color 0.2s ease;
  z-index: 3;
}
.msgFile .downloadIcon:hover {
  background-color: rgba(170, 170, 170, 0.3764705882);
}
.msgFile .downloading {
  cursor: progress;
}
.msgFile .downloading:hover {
  background-color: transparent;
}

.previewFile {
  border-radius: 15px;
}

.pdfFile {
  background-color: rgba(248, 51, 51, 0.862745098);
}
.pdfFile > div {
  color: #f3d0f7;
}

.excelFile > div {
  color: #c2f1ef;
}

.pptFile {
  background-color: #d1560e;
}
.pptFile > div {
  color: #f7e7e7;
}

.wordFile {
  background-color: rgba(24, 114, 231, 0.4941176471);
}
.wordFile > div {
  color: #c2f1ef;
}

.mediaFile {
  background-color: rgba(75, 5, 57, 0.7450980392);
}
.mediaFile > div {
  color: #f3d0f7;
}
.mediaFile .mediaMsg {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 180px;
  background-color: rgba(102, 102, 102, 0.6666666667);
  transition: transform 0.2s ease;
  color: #fff;
}
.mediaFile .mediaMsg:hover {
  background-color: rgba(119, 119, 119, 0.6666666667);
}
.mediaFile .mediaMsg:active {
  background-color: rgba(136, 136, 136, 0.6666666667);
  transform: scale(0.98);
}
.mediaFile .mediaMsg .playMedia {
  transition: transform 0.2s ease;
}
.mediaFile .mediaMsg .playMedia:active {
  color: #d2e9e7;
  transform: scale(0.8);
}
.mediaFile .mediaMsg .mediaDuration {
  position: absolute;
  font-weight: 600;
  font-size: 15px;
}
.mediaFile .mediaMsg .videoDuration {
  top: auto;
  bottom: 0px;
  left: 5px;
  right: auto;
}
.mediaFile .mediaMsg .audioDuration {
  top: auto;
  bottom: 2px;
  left: 3px;
  right: auto;
}

.otherFile {
  background-color: #666;
}
.otherFile > div {
  color: #f3d0f7;
}

body {
  background-size: 100% 100%;
  background-attachment: fixed;
  background: #202020;
}
body * {
  font-family: "Trebuchet MS";
}
body .pointer {
  cursor: pointer;
}
body .notAllowed {
  cursor: not-allowed;
}
body img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
body * {
  scrollbar-color: #686868 transparent;
}
body *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body *::-webkit-scrollbar-thumb {
  background: #686868;
}
body *::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
body *::-webkit-scrollbar-track {
  background: transparent;
}/*# sourceMappingURL=index.css.map */